.container {
    margin-top: 8px;
}

.award-container {
    padding-right: 8px;
    padding-left: 8px;
}

@include media-breakpoint-up(sm) {
    html {
        font-size: 14px;
    }
}

@include media-breakpoint-up(md) {
    html {
        font-size: 20px;
    }
}

@include media-breakpoint-up(lg) {
    html {
        font-size: 28px;
    }
}